<div class="container mt-4">
  <!-- *ngFor -->
  <div>
    <h2 class="d-flex justify-content-center">*ngFor</h2>
    <hr />
    <div class="row">
      <h3 class="d-flex justify-content-center">Listado de estudiantes</h3>
    </div>
    <br />
    <table class="table">
      <thead>
        <th>Nro</th>
        <th>Nombre</th>
        <th>Estado</th>
      </thead>
      <tbody>
        <tr *ngFor="let estudiante of listEstudiantes; let i = index">
          <td>{{i+1}}</td>
          <td>{{estudiante.nombre}}</td>
          <td>{{estudiante.estado}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- *ngIf -->
  <div>
    <h2 class="d-flex justify-content-center">*ngIf</h2>
    <hr />
    <div class="row justify-content-between">
      <div class="col d-flex justify-content-start">
        <h3>Listado de estudiantes 2</h3>
      </div>
      <div class="col d-flex justify-content-end">
        <!-- <button class="btn btn-primary" (click)="toogle()">Toogle</button> -->
      </div>
    </div>
    <br />
    <table class="table" *ngIf="listEstudiantes2.length > 0">
      <thead>
        <th>Nro</th>
        <th>Nombre</th>
        <th>Estado</th>
      </thead>
      <tbody>
        <tr *ngFor="let estudiante of listEstudiantes2; let i = index">
          <td>{{i+1}}</td>
          <td>{{estudiante.nombre}}</td>
          <td>{{estudiante.estado}}</td>
        </tr>
      </tbody>
    </table>
    <h3 *ngIf="listEstudiantes2.length === 0">No hay registros para mostrar</h3>
  </div>
  <!-- *ngStyle -->
  <div>
    <h2 class="d-flex justify-content-center">*ngStyle</h2>
    <hr />
    <div class="row justify-content-between">
      <div class="col d-flex justify-content-start">
        <h3>Listado de estudiantes 3</h3>
      </div>
      <div class="col d-flex justify-content-end">
        <!-- <button class="btn btn-primary" (click)="toogle()">Toogle</button> -->
      </div>
    </div>
    <br />
    <table class="table" *ngIf="listEstudiantes3.length > 0">
      <thead>
        <th>Nro</th>
        <th>Nombre</th>
        <th>Estado</th>
      </thead>
      <tbody>
        <tr *ngFor="let estudiante of listEstudiantes3; let i = index">
          <td>{{i+1}}</td>
          <td>{{estudiante.nombre}}</td>
          <td [ngStyle]="{'font-style':estudiante.estado === 'Promocionado' ? 'italic' : 'normal'}">
            {{estudiante.estado}}</td>
        </tr>
      </tbody>
    </table>
    <h3 *ngIf="listEstudiantes3.length === 0">No hay registros para mostrar</h3>
  </div>
  <!-- *ngClass -->
  <div>
    <h2 class="d-flex justify-content-center">*ngClass</h2>
    <hr />
    <div class="row justify-content-between">
      <div class="col d-flex justify-content-start">
        <h3>Listado de estudiantes 4</h3>
      </div>
      <div class="col d-flex justify-content-end">
        <!-- <button class="btn btn-primary" (click)="toogle()">Toogle</button> -->
      </div>
    </div>
    <br />
    <table class="table" *ngIf="listEstudiantes4.length > 0">
      <thead>
        <th>Nro</th>
        <th>Nombre</th>
        <th>Estado</th>
      </thead>
      <tbody>
        <tr *ngFor="let estudiante of listEstudiantes4; let i = index">
          <td>{{i+1}}</td>
          <td>{{estudiante.nombre}}</td>
          <td>
            <span
              [ngClass]="estudiante.estado === 'Promocionado' ? 'badge bg-success' : 'badge bg-secondary'">{{estudiante.estado}}</span>
          </td>
        </tr>
      </tbody>
    </table>
    <h3 *ngIf="listEstudiantes4.length === 0">No hay registros para mostrar</h3>
  </div>
  <!-- *ngSwitch -->
  <div>
    <h2 class="d-flex justify-content-center">*ngSwitch</h2>
    <hr />
    <div class="row justify-content-between">
      <div class="col d-flex justify-content-start">
        <h3>Listado de estudiantes 5</h3>
      </div>
      <div class="col d-flex justify-content-end">
        <!-- <button class="btn btn-primary" (click)="toogle()">Toogle</button> -->
      </div>
    </div>
    <br />
    <table class="table" *ngIf="listEstudiantes5.length > 0">
      <thead>
        <th>Nro</th>
        <th>Nombre</th>
        <th>Estado</th>
      </thead>
      <tbody>
        <tr *ngFor="let estudiante of listEstudiantes5; let i = index" [ngSwitch]="estudiante.estado">
          <td>{{i+1}}</td>
          <td>{{estudiante.nombre}}</td>
          <td>
            <span *ngSwitchCase="'Promocionado'" class="badge bg-success">{{estudiante.estado}}</span>
            <span *ngSwitchCase="'Regular'" class="badge bg-secondary">{{estudiante.estado}}</span>
            <span *ngSwitchCase="'Libre'" class="badge bg-danger">{{estudiante.estado}}</span>
          </td>
        </tr>
      </tbody>
    </table>
    <h3 *ngIf="listEstudiantes5.length === 0">No hay registros para mostrar</h3>
  </div>
</div>
